:root {
  --prime-font: "Roboto", sans-serif;
  --second-font: "Raleway", sans-serif;
  --text-color: #434455;
  --primary-brand-color: #4d5ae5;
  --dark-color: #2e2f42;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --pressed-state-color: #404bbf;
  --white-color: #ffffff;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ==========HEADER========= */
.header-page-container {
  display: flex;
  align-items: center;
}
.header-page {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
}
.navigation-page {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
}
.menu-items:not(:last-child) {
  margin-right: 40px;
}
.logo-page {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
  margin-right: 76px;
}
.text-logo {
  font-family: var(--second-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}
.adress-list {
  display: flex;
}
.contact {
  font-style: normal;
  margin-left: auto;
}
.menu-link {
  color: var(--dark-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.main-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 40px;
}
/* ==========/HEADER========= */

/* ===========HERO=========== */
.model-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--primary-brand-color);
  color: var(--white-color);
  border-radius: 4px;
  border: 1px solid #000000;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  flex-grow: 0;
  display: block;
  margin: auto;
}
.text-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--white-color);
}

.hero {
  background: var(--dark-color);
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-color);
  text-align: center;
}
/* ===========/HERO=========== */

/* ===========FEATURE==========*/

.title-feature {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.sub-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* ===========/FEATURE==========*/

/*==========SECTION ABOUT ======*/
.title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 72px;
}
.title-team {
}
/*==========/SECTION ABOUT ======*/

/* TEAM*/
.team {
  background: #f4f4fd;
}
.list-team {
  display: flex;
  gap: 24px;
}
.emploees-cards {
  flex-basis: calc((100%-72px) / 4);
}
.emploees-cards-foto {
  padding-bottom: 32px;
}
.title-feature {
  padding-bottom: 8px;
}

/* TEAM*/

/*==============FOOTER============*/
.text-footer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.footer {
  background: var(--dark-color);
}
.text-logo-footer {
  color: var(--light-color);
}
/*==============/FOOTER============*/

/* +++++++++++++++++++++++++++PORTFOLIO++++++++++++++++++++++++ */
.button-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background: var(--light-color);
  border: 1px solid var(--accent-color);
  border: transparent;
}

.progect-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background: var(--primary-brand-color);
}
.model-button:hover,
.model-button:focus {
  background: var(--pressed-state-color);
}
.sub-text-progect {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--pressed-state-color);
}
.main-contact:hover,
.main-contact:focus {
  color: var(--pressed-state-color);
}
.list-team-portfolio {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
